---
import { storyblokEditable } from '@storyblok/astro';
import { sbImg } from '../img.js';
const { blok } = Astro.props;
const img = sbImg(blok.image?.filename, 800);
---
<div class="vcard" {...storyblokEditable(blok)}>
  {img && <div class="vimg" style={`background-image:url(${img})`}></div>}
  <div class="vbody">
    {blok.title && <h3>{blok.title}</h3>}
    {blok.description && <p>{blok.description}</p>}
  </div>
</div>
