---
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { storyblokEditable } from '@storyblok/astro';
const { blok } = Astro.props;
---
<div class="disc-pane active" {...storyblokEditable(blok)}>
  {blok.body?.map((b) => <StoryblokComponent blok={b} />)}
</div>
